<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <switches>
      <!-- This switch controls general messages. In order to receive general trace 
         messages change the value to the appropriate level. "1"  or "Error" gives 
         error messages, "2" or "Warning" gives errors and warnings, "3" or "Info" 
         gives more detailed information, and "4" or "Verbose" turns on all tracing
         through the whole application. "0" or "Off" turns off tracing of course. -->

      <add name="GeneralTrace" value="Error" />
    </switches>
  </system.diagnostics>
</configuration>